*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border-radius: 3%;
  }
  body{
	font-family: sans-serif;
	overflow: hidden;
	user-select: none;
	background-color: black;
  }
  nav .logo{
	color: white;
	font-size: 33px;
	font-weight: bold;
	line-height: 70px;
	padding-left: 110px;
  }
  nav{
	height: 70px;
	background: #063247;
	box-shadow: 0 3px 15px rgba(0,0,0,.4);
  }
  nav ul{
	float: right;
	margin-right: 30px;
  }
  nav ul li{
	display: inline-block;
  }
  nav ul li a{
	color: white;
	display: block;
	padding: 0 15px;
	line-height: 70px;
	font-size: 20px;
	background: teal;
	transition: .5s;
  }
  nav ul li a button:hover,
  nav ul li a button.active{
	color: #23dbdb;
  }
  nav ul ul{
	position: absolute;
	top: 85px;
	border-top: 3px solid #23dbdb;
	opacity: 0;
	visibility: hidden;
  }
  nav ul li:hover > ul{
	top: 70px;
	opacity: 1;
	visibility: visible;
	transition: .3s linear;
  }
  nav ul ul li{
	width: 150px;
	display: list-item;
	position: relative;
	border: 1px solid #042331;
	border-top: none;
  }
  nav ul ul li a{
	line-height: 50px;
  }
  nav ul ul ul{
	border-top: none;
  }
  nav ul ul ul li{
	position: relative;
	top: -70px;
	left: 150px;
  }
  nav ul ul li a i{
	margin-left: 45px;
  }
  section{
	background-position: center;
	background-size: cover;
	height: 100vh;
  }
  button{
	  border: teal;
	  color: white;
	  background-color: teal;
  }

  .video{
	  color: white;
	  border-radius: 10%;
	  margin-left: auto;
	  margin-right: auto;
	  width: 50%;
	  margin-top: 15%;
	  border: solid;
	  padding: 1%;
	  
  }

  .container {
    position: relative;
    display: flex;
    width: max-content;
    height: max-content;
    justify-content: center;
    align-items: center;
}
.container #video {
    width: 600px;
    height: 400px;
    border-radius: 20px;
}
.container .controls {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    opacity: 0.2;
    transition: opacity 0.4s;
}
.container:hover .controls {
    opacity: 1;
}
.container .controls button {
    background: transparent;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 1px 2px #000;
    border: none;
    cursor: pointer;
}
.container .controls .timeline {
    flex: 1;
    display: flex;
    align-items: center;
    border: none;
    border-right: 3px solid #ccc;
    border-left: 3px solid #ccc;
}
.container .controls .timeline .bar{
    background: rgb(1, 1, 65);
    height: 4px;
    flex: 1;
}
.container .controls .timeline .bar .inner{
    background: #ccc;
    width: 0%;
    height: 100%;
}
.fa {
    font-size: 20px !important;
}